@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities{
  .heading {
    @apply uppercase p-6 font-work-sans font-semibold
  }
  .navButton{
    @apply font-work-sans font-thin text-responsiveHeader hover:shadow-lg pr-3
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
